<h2 mat-dialog-title>Adauga carte</h2>
<mat-dialog-content>
  <div class="example-container">
    <div class="form-container">
      <form [formGroup]="addBookForm" (submit)="addBook()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Cod carte
          </mat-label>
          <input matInput formControlName="cod_carte" required>
          <mat-error *ngIf="addBookForm && addBookForm.controls
          && addBookForm.controls['cod_carte'] && addBookForm.controls['cod_carte'].touched
          && addBookForm.controls['cod_carte'].invalid && addBookForm.controls['cod_carte'].errors">
            <span *ngIf="addBookForm.controls['cod_carte'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addBookForm.controls['cod_carte'].errors['addBookForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Subcategorie
          </mat-label>
          <input matInput formControlName="cod_subcategorie" required>
          <mat-error *ngIf="addBookForm && addBookForm.controls
          && addBookForm.controls['cod_subcategorie'] && addBookForm.controls['cod_subcategorie'].touched
          && addBookForm.controls['cod_subcategorie'].invalid && addBookForm.controls['cod_subcategorie'].errors">
            <span *ngIf="addBookForm.controls['cod_subcategorie'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addBookForm.controls['cod_subcategorie'].errors['addBookForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Titlu
          </mat-label>
          <input matInput formControlName="titlu" required type="text">
          <mat-error *ngIf="addBookForm && addBookForm.controls
          && addBookForm.controls['titlu'] && addBookForm.controls['titlu'].touched
          && addBookForm.controls['titlu'].invalid && addBookForm.controls['titlu'].errors">
            <span *ngIf="addBookForm.controls['titlu'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addBookForm.controls['titlu'].errors['addBookForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Numar exemplare
          </mat-label>
          <input matInput formControlName="nr_exemplare" type="number">
          <mat-error *ngIf="addBookForm && addBookForm.controls
          && addBookForm.controls['nr_exemplare'] && addBookForm.controls['nr_exemplare'].touched
          && addBookForm.controls['nr_exemplare'].invalid && addBookForm.controls['nr_exemplare'].errors">
            <span *ngIf="addBookForm.controls['nr_exemplare'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addBookForm.controls['nr_exemplare'].errors['addBookForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" type="submit" (click)="addBook()">Save</button>
</mat-dialog-actions>
