<h2 mat-dialog-title>Adauga cititor</h2>
<mat-dialog-content>
  <div class="example-container">
    <div class="form-container">
      <form [formGroup]="addCititorForm" (submit)="addCititor()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Cod cititor
          </mat-label>
          <input matInput formControlName="cod_cititor" required>
          <mat-error *ngIf="addCititorForm && addCititorForm.controls
          && addCititorForm.controls['cod_cititor'] && addCititorForm.controls['cod_cititor'].touched
          && addCititorForm.controls['cod_cititor'].invalid && addCititorForm.controls['cod_cititor'].errors">
            <span *ngIf="addCititorForm.controls['cod_cititor'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addCititorForm.controls['cod_cititor'].errors['addCititorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Serie legitimatie
          </mat-label>
          <input matInput formControlName="serie_legitimatie" required type="text">
          <mat-error *ngIf="addCititorForm && addCititorForm.controls
          && addCititorForm.controls['serie_legitimatie'] && addCititorForm.controls['serie_legitimatie'].touched
          && addCititorForm.controls['serie_legitimatie'].invalid && addCititorForm.controls['serie_legitimatie'].errors">
            <span *ngIf="addCititorForm.controls['serie_legitimatie'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addCititorForm.controls['serie_legitimatie'].errors['addCititorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Nume
          </mat-label>
          <input matInput formControlName="nume" required type="text">
          <mat-error *ngIf="addCititorForm && addCititorForm.controls
          && addCititorForm.controls['nume'] && addCititorForm.controls['nume'].touched
          && addCititorForm.controls['nume'].invalid && addCititorForm.controls['nume'].errors">
            <span *ngIf="addCititorForm.controls['nume'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addCititorForm.controls['nume'].errors['addCititorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Prenume
          </mat-label>
          <input matInput formControlName="prenume" required type="text">
          <mat-error *ngIf="addCititorForm && addCititorForm.controls
          && addCititorForm.controls['prenume'] && addCititorForm.controls['prenume'].touched
          && addCititorForm.controls['prenume'].invalid && addCititorForm.controls['prenume'].errors">
            <span *ngIf="addCititorForm.controls['prenume'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addCititorForm.controls['prenume'].errors['addCititorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Gen</mat-label>
          <select matNativeControl formControlName="gen" required>
            <option value="M">M</option>
            <option value="F">F</option>
          </select>
          <mat-error *ngIf="addCititorForm && addCititorForm.controls
          && addCititorForm.controls['gen'] && addCititorForm.controls['gen'].touched
          && addCititorForm.controls['gen'].invalid && addCititorForm.controls['gen'].errors">
            <span *ngIf="addCititorForm.controls['gen'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addCititorForm.controls['gen'].errors['addCititorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Data nasterii
          </mat-label>
          <input matInput formControlName="data_n" type="date">
          <mat-error *ngIf="addCititorForm && addCititorForm.controls
          && addCititorForm.controls['data_n'] && addCititorForm.controls['data_n'].touched
          && addCititorForm.controls['data_n'].invalid && addCititorForm.controls['data_n'].errors">
            <span *ngIf="addCititorForm.controls['data_n'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addCititorForm.controls['data_n'].errors['addCititorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Strada si numar
          </mat-label>
          <input matInput formControlName="str_nr" required type="text">
          <mat-error *ngIf="addCititorForm && addCititorForm.controls
          && addCititorForm.controls['str_nr'] && addCititorForm.controls['str_nr'].touched
          && addCititorForm.controls['str_nr'].invalid && addCititorForm.controls['str_nr'].errors">
            <span *ngIf="addCititorForm.controls['str_nr'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addCititorForm.controls['str_nr'].errors['addCititorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Localitate
          </mat-label>
          <input matInput formControlName="localitate" required type="text">
          <mat-error *ngIf="addCititorForm && addCititorForm.controls
          && addCititorForm.controls['localitate'] && addCititorForm.controls['localitate'].touched
          && addCititorForm.controls['localitate'].invalid && addCititorForm.controls['localitate'].errors">
            <span *ngIf="addCititorForm.controls['localitate'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addCititorForm.controls['localitate'].errors['addCititorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Email
          </mat-label>
          <input matInput formControlName="email" required type="text">
          <mat-error *ngIf="addCititorForm && addCititorForm.controls
          && addCititorForm.controls['email'] && addCititorForm.controls['email'].touched
          && addCititorForm.controls['email'].invalid && addCititorForm.controls['email'].errors">
            <span *ngIf="addCititorForm.controls['email'].errors['required']">This field is mandatory.</span>
            <span *ngIf="addCititorForm.controls['email'].errors['addCititorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" type="submit" (click)="addCititor()">Save</button>
</mat-dialog-actions>
