<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="cursor" (click)="goToSelectDatabase()">Baza de date</span>
    <span class="cursor" (click)="goToBooks()">Carti</span>
    <span class="cursor" (click)="goToAutori()">Autori</span>
    <span class="cursor" (click)="goToCititori()">Cititori</span>
    <span class="cursor" (click)="goToLegitimatii()">Legitimatii</span>
    <span class="example-spacer"></span>
    <span>Hello, user!</span>
  </mat-toolbar>
</p>

