<h2 mat-dialog-title>Editeaza autor</h2>
<mat-dialog-content>
  <div class="example-container">
    <div class="form-container">
      <form [formGroup]="editAutorForm" (submit)="editAutor()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Nume
          </mat-label>
          <input matInput formControlName="nume" required type="text">
          <mat-error *ngIf="editAutorForm && editAutorForm.controls
          && editAutorForm.controls['nume'] && editAutorForm.controls['nume'].touched
          && editAutorForm.controls['nume'].invalid && editAutorForm.controls['nume'].errors">
            <span *ngIf="editAutorForm.controls['nume'].errors['required']">This field is mandatory.</span>
            <span *ngIf="editAutorForm.controls['nume'].errors['editAutorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Prenume
          </mat-label>
          <input matInput formControlName="prenume" required type="text">
          <mat-error *ngIf="editAutorForm && editAutorForm.controls
          && editAutorForm.controls['prenume'] && editAutorForm.controls['prenume'].touched
          && editAutorForm.controls['prenume'].invalid && editAutorForm.controls['prenume'].errors">
            <span *ngIf="editAutorForm.controls['prenume'].errors['required']">This field is mandatory.</span>
            <span *ngIf="editAutorForm.controls['prenume'].errors['editAutorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Data nasterii
          </mat-label>
          <input matInput formControlName="data_n" type="date">
          <mat-error *ngIf="editAutorForm && editAutorForm.controls
          && editAutorForm.controls['data_n'] && editAutorForm.controls['data_n'].touched
          && editAutorForm.controls['data_n'].invalid && editAutorForm.controls['data_n'].errors">
            <span *ngIf="editAutorForm.controls['data_n'].errors['required']">This field is mandatory.</span>
            <span *ngIf="editAutorForm.controls['data_n'].errors['editAutorForm']">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="editAutor()" color="primary"  type="submit">Save</button>
</mat-dialog-actions>
